<h2>STORES</h2>
<ul>
  <% @stores.each do |store| %>

    <li><%= link_to store.name.capitalize, store %></li>

  <% end %>

</ul>
<hr>

<%= link_to "Add New Store", new_store_path, class: "btn btn-info" %>

